* {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 100vh;
  background-color: #282d35;
}

nav{
  align-items: center;
  display: flex;
  background-color: #21222a;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo_text, .nav--title{
  margin: 0;
}
.nav--logo_text{
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 30px;
}
.nav--title{
  color: #deebf8;
  font-weight: 600;
  font-size: 22px;
}
.nav--icon{
  height: 35px;
  margin-right: 7px;

}
main{
  padding: 57px 27px;
  background-image: url('background.png');
  background-repeat: no-repeat;
  background-position: 100%;
}
.main--title{
  color: #deebf8;
  padding: 35px;
  margin: 0;
  font-size: 40px;
  letter-spacing: -.0.5em;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
}

.main--facts > li{
  color: #deebf8;
  font-size: 20px;
  line-height: 30px;
  padding-block: 5px;
}
.main--facts > li::marker{
  font-size: 1.8rem;
  color: #61dafb;
}